<div class="container">
    <%= image_tag('LOGO_NSDLV.png', size: '70x70') %>
    <h2>Nuestra señora de la Victoria</h2>
    <%= link_to  "Acceso a la intranet", new_user_session_path %>
    <a href="">contacto</a>
    <a href="">trabaja con nosotros</a>

</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">eventos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">sobre nosotros</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
    <p>paguina para visitas</p>
</div>