/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap/dist/css/bootstrap.css
 *= require @fortawesome/fontawesome-free/css/all.css
 *= require_self
 */


body {
    background-color:#ffe6e6;
}

#jumbotron_index{
    background: url("https://i.ibb.co/VTZSKXT/Whats-App-Image-2021-04-13-at-17-44-28-1.jpg") no-repeat center center; 
    background-size: cover ;
}
#jumbotron_show{
    background: url("https://i.ibb.co/HYKgw89/Whats-App-Image-2021-04-13-at-17-44-29-1.jpg") no-repeat center center; 
    background-size: cover ;
}
#jumbotron_childs{
    background: url("https://i.ibb.co/DLFs6VP/Whats-App-Image-2021-04-13-at-17-54-23.jpg") no-repeat center center; 
    background-size: cover ;
}
#jumbotron_educators{
    background: url("https://i.ibb.co/LkJRYFk/Whats-App-Image-2021-04-13-at-18-12-12-4.jpg") no-repeat center center; 
    background-size: cover ;
}
footer {
    background-color: #6155a6;
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    color: #ffe6e6;
  }